
<div class="container text-center mt-5" *ngIf="juegos">
    <label for="tipo_filtro"> Selecciona el tipo de filtro deseado </label>
    <br>
    <select id="tipo_filtro" [(ngModel)]="tipoFiltro" class="form-select form-select-sm">
      <option [value]="1" selected > Título </option>
      <option [value]="2" de> Plataforma </option>
      <option [value]="3"> Precio </option>
      <option [value]="4"> Empresa </option>
    </select>
    <input type="text" [(ngModel)]="cajaTexto" class="form-control mt-5" placeholder="Ingresa el Titulo, Plataforma, Precio ó empresa cuyos juegos quieres ver ">
    <button (click)="ejecutarFiltro()" class="btn btn-info mt-4"> Filtrar </button>
  
</div>
<table class="table table-bordered">

    <thead>
        <tr>
            <th *ngFor="let titulo of titulos"> 
                {{ titulo }} <mat-icon class="clikeable" *ngIf="titulo == 'Plataforma'" (click)="organizar()"> keyboard_arrow_down </mat-icon>

            </th>
        </tr>
    </thead>

    <tbody *ngIf="juegos">
        
            <tr *ngFor="let juego of contenido">
    
                <td> {{ juego.Titulo }} </td>
                <td> {{ juego.Cantidad_stock }}</td>
                <td> {{ juego.Fecha_salida | date }}</td>
                <td> {{ juego.Plataforma }} </td>
                <td> {{ juego.precio | currency }}</td>
                <td class="clikeable" (click)="redireccionarDetallesEmpresa( juego.empresa.Id_empresa )"> {{ juego.empresa.Nombre }}</td>
                <td> 
                    <button (click)="comprarJuego( content, juego )" class="btn btn-success"> Comprar </button>
                </td>
    
            </tr>

        
    </tbody>

    <tbody *ngIf="facturas">

      <tr *ngFor="let factura of contenido">

        <td> {{ factura.Id_compra }}</td>
        <td> {{ factura.Fecha_compra | date}}</td>
        <td> {{ factura.Cantidad_adquirida }}</td>
        <td> {{ factura.Titulo_juego }}</td>
        <td> {{ factura.Precio_compra | currency}}</td>

      </tr>

    </tbody>
</table>




<ng-template  #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Comprar Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal form-material" [formGroup]="comprarVideoJuego">
        <div class="form-group">
          <label for="cantidad"> Cantidad de unidades deseadas </label>
          <p class="text-center"> {{ cantidadIngresada }} </p>
          <input type="range" formControlName="cantidad" (change)="actualizarValor()" id="cantidad" class="form-control" min="0" [max]="juego.Cantidad_stock" step="1" [value]="valorDefecto">
          
        </div>
      </form>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-outline-dark" (click)="finalizarCompra()">
        <div *ngIf="cargando" class="spinner-border size" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        Comprar
      </button>
    </div>
  </ng-template>




